body {
	background-color: #8cf5a8;
	font-family: calibri;
	color: #213452;
}
p {
	background-color: #f3c5fa;
}
h1 {
	background-color: #cdfaf9;
	font-family: algerian;
	text-align: center;
}

#container
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#title
{
	background-color: #73ade8;
	color: white;
	text-align: center;
	padding: 1.5%;
}

#nav
{
	float: left;
	background-color: lightgray;
	width: 18%;
	/* height: 100%; */
	/* min-height: 688px; */
	padding: 1%;
}

#content
{
	float: left;
	padding: 2%;
	width: 76%;
}

#footer
{
	clear: both;
	background-color: #73ade8;
	color: white;
	text-align: center;
	padding: 2%;
}

.cols-container
{
	width: 100%;
}

.cols-container:after {
  content:'';
  display:block;
  clear:both;
}